﻿@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h2>Welcome to the Pet and Shop Clinic</h2>
    <p class="lead">Where Care for your pet Comes First</p>
    @*<p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @*<div class="col-md-4">
        <img src="~/Media/doctor mushkin.jpg" />
        <h2>Find Doctors</h2>
        <p>
            Get the best in health care with the help of our highly qualified doctors. Click the button below to get started.
        </p>
        <p></p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Doctor")">Find Doctors &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <img src="~/Media/doctorandrew.jpg" />
        <h2>Create Appointments</h2>
        <p>Setting up appointments has never been so easy. Its just a registration and few clicks away.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Appointment")">Create now &raquo;</a></p>
    </div>
</div>