﻿@model DoctorPatient.ViewModels.CartViewModel

@{
    ViewBag.Title = "Your Cart";
}

<h2>@ViewBag.Title</h2>
@if (Model.CartLines.Count() > 0)
{
    using (Html.BeginForm("UpdateCart", "Cart"))
    {
        @Html.AntiForgeryToken()

        <input class="btn btn-sm btn-success" type="submit" value="Update Cart" />
        <hr />
        <div class="row">
            <div class="col-md-4">
                <label>Item</label>
            </div>
            <div class="col-md-3">
                <label>Quantity</label>
            </div>
            <div class="col-md-1">
                <label>Price</label>
            </div>
            <div class="col-md-1">
                <label>Subtotal</label>
            </div>
        </div>
        <hr />
        for (int i = 0; i < Model.CartLines.Count; i++)
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink(Model.CartLines[i].Product.Name, "Details",
                   "Products", new { id = Model.CartLines[i].ProductId }, null)<br />
                    @if (Model.CartLines[i].Product.ProductImageMappings != null && Model.CartLines[i].Product.ProductImageMappings.Any())
                    {
                        <a href="@Url.Action("Details", "Products", new { id = Model.CartLines[i].ProductId })">
                            <img src="@(Url.Content(Constants.ProductThumbnailPath) + Model.CartLines[i].Product.ProductImageMappings.OrderBy(pim
                             => pim.ImageNumber).ElementAt(0).ProductImage.FileName))" />
                        </a>
                    }
                </div>
                <div class="col-md-3">
                    @Html.HiddenFor(productId => Model.CartLines[i].ProductId)
                    @Html.TextBoxFor(quantity => Model.CartLines[i].Quantity)
                    <p>
                        @Html.ValidationMessageFor(quantity => Model.CartLines[i].Quantity, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div class="col-md-1">@Html.DisplayFor(price => Model.CartLines[i].Product.Price)</div>
                <div class="col-md-1">@((Model.CartLines[i].Quantity * Model.CartLines[i].Product.Price).ToString("c"))</div>
                <div class="col-md-1">@Html.ActionLink("Remove", "RemoveLine", "Cart", new { id = Model.CartLines[i].Product.Id }, null )</div>
            </div>
        <hr/>
        }
    }
    <div class="row">
        <div class="col-md-8">
            @Html.DisplayNameFor(model => model.TotalCost)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.TotalCost)
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Order Now", "Review", "Orders", null, new { @class = "btn btn-sm btn-success" })
        </div>
    </div>
}
else
{
    <p>Your basket is empty</p>
}
<div>
    @Html.ActionLink("Continue Shopping", "Index", "Products")
</div>   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}