﻿@model DoctorPatient.ViewModels.CartSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Your cart: " + Model.NumberOfItems+ " item(s) " + HttpUtility.HtmlDecode(Html.DisplayFor(model => Model.TotalCost).ToString()),"Index", "Cart")
    </li>
</ul>

