﻿@model DoctorPatient.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

