﻿
@{
    ViewBag.Title = "PaymentFailure";
}

<h2 style="color:crimson">Your order has failed to process</h2>
<br/>
<hr />
<h6 style="color:cadetblue">Click below to go back to your order.</h6>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>