﻿@model DoctorPatient.Models.Order

@{
    ViewBag.Title = "Review Your Order";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Orders")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-2">
            <label>
                Item
            </label>
        </div>
        <div class="col-md-2">
            <label>
                Quantity
            </label>
        </div>
        <div class="col-md-2">
            <label>
                Unit Price
            </label>
        </div>
    </div>

    @foreach (var item in Model.OrderLines)
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </div>
        </div>
    }
    <br/><br/>
    <div class="form-group">
        @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TotalPrice)
            @Html.HiddenFor(model => model.TotalPrice)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.UserId)
            @Html.HiddenFor(model => model.UserId)
        </div>
    </div>
  
    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeliveryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DeliveryName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br/>
    <h4 style="color:#18bc9c">If you create this order it will be delivered to this address:</h4><br/>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeliveryAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DeliveryAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Order" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Edit Cart", "Index", "Cart")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
