﻿@model DoctorPatient.Models.RegisterViewModel

@{
    ViewBag.Title = "Create User";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.Partial("_CreateRegisterUserPartial", Model)
        <div class="form-group">
            <label class="col-md-2 control-label">
                Select User Role
            </label> 
            <div class="col-md-10">
                @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                    <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline"/>
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
   </div>
}

<div>
    @Html.ActionLink("Back to List", "Details")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
