﻿@model DoctorPatient.Models.ApplicationUser

@{ 
    ViewBag.Title = "User Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_UserDetailsPartial", Model)
    </dl>
</div>
<div class="container">
    <div class="row">
        <h4>Roles this user belongs to:</h4>
    </div>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user</p>
    }
    @foreach (var item in ViewBag.RoleNames)
    {
        <div class="row">
            @item
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            
        </p>
    }
</div>